<h1>Eding Book</h1>
<!-- form_with部分 -->
<%= form_with model:@book, local: true do |f| %>
<table>
  <tr><th>Title</th>
      <td><%= f.text_field :title %></td></tr>
  
  <tr><th>Body</th>
  <td><%= f.text_area :body %></td></tr>
  <tr><th></th>
  <td><%= f.submit 'Update Book' %></td></tr>
<% end %>
</table>
<p><%= link_to "show", book_path %></p>
  <p><%= link_to "back", books_path %></p>
