<h1>Editng Book</h1>
<% if @book.errors.any? %>
<h4><%= pluralize(@book.errors.count,"error") %> prohibited this product from being saved:</h4>
<% @book.errors.full_messages.each do |message| %>
<p><%= message %></p>
<% end %>
<% end %>


<!-- form_with部分 -->
<%= form_with model:@book, local: true do |f| %>
<table>
  <tr><th>Title</th>
  <td><%= f.text_field :title %></td></tr>
  
  <tr><th>Body</th>
  <td><%= f.text_area :body %></td></tr>
  <tr><th></th>
  <td><%= f.submit 'Update Book' %></td></tr>
<% end %>
</table>
<table>
  <td><%= link_to "show", book_path %></td>
  <td>|</td>
  <td><%= link_to "back", books_path %></td>
</table>