<p id="notice">
<%= notice %> 
</p>

<table>
  <p><strong>Title:</strong>
  <%= @book.title %></p>
  <p><strong>Body:</strong>
  <%= @book.body %></p>

  <td class="edit"><%= link_to "Edit", edit_book_path(@book) %></td>
  <td>|</td>
  <td class="back"><%= link_to "back", books_path %></td>
</table>



